.contact-info {
    &__item {
        border-bottom: 1px solid lighten($color-contrast, 20);
        padding: 1em 0 1em 4em;
        position: relative;
        word-wrap: break-word;

        &:last-child {
            border-bottom: none;
        }

        &__title {
            color: lighten($color-contrast, 50);
        }

        &__icon {
            color: lighten($color-contrast, 50);
            position: absolute;
            font-size: 1.3em;
            left: 1em;
            top: 1em;
        }
    }
}