.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lighten($color-contrast, 75);
    border: 1px solid lighten($color-contrast, 50);
    margin: 3em;
    border-radius:  $border-radius;

    &__item {
        position: relative;
        padding: 4.5em 3em 3em;
        color: $color-contrast;
        border-top: 1px solid lighten($color-contrast, 50);

        &:first-child {
            border-top: none;
        }

        &__icon {
            position: absolute;
            top: 1em;
            right: 1em;
            color: $color-text;
            background-color: $color-brand;
            width: 2.5em;
            height: 2.5em;
            text-align: center;
            line-height: 2.5em;
            border-radius: $border-radius;
        }

        &__title {
            margin-bottom: 1em;
        }

        &__content {
            p:first-child {
                margin-top: 0;
            }
        }
        
        p:first-child {
            margin-top: 0; 
        }

        p:last-child {
            margin-bottom: 0;
        }

        @media (min-width: $breakpoint-large) {
            box-sizing: border-box;
            width: 50%;

            &:nth-child(2n) {
                border-left: 1px solid lighten($color-contrast, 50);
            }

            &:nth-child(2) {
                border-top: none;
            }

            &__icon {
                left: 1em;
            }
        }
    }

    
}